/* Center image */
img[src*='#center'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Box shadow effect (https://www.css3.info/preview/box-shadow/) */
.shadowed-image {
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
