/* Center image */
img[src*='#center'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Box shadow effect (https://www.css3.info/preview/box-shadow/) */
.shadowed-image {
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}

/* Fade-in */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
